/*
 * CSS for modals
 */

@import url('../shared/shared.css');

.buttons-container {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.message {
    font-style: italic;
}

.horizontal-alignment {
    width: 100%;
    padding-bottom: 10px;
}